TZA
AGO-seasonal_sos_primary
AGO-seasonal_sos_secondary
BDI-annual
BFA-annual
BFA-seasonal
CIV-annual
CIV-seasonal
COD-annual
COD-seasonal
GHA-annual
GHA-seasonal
KEN-seasonal
MLI-annual
MLI-seasonal
NGA-annual
NGA-seasonal
RWA-annual
RWA-seasonal
SEN-annual
SEN-seasonal
SLE-annual
SLE-seasonal
